<section class="home-chat">
    <div>

      <div class="illustration">
        <img src="/assets/codecreative-illustration-mail.svg" title="CodeCreative Mail Illustration" />
      </div>

      <div class="section-content">
        <h1>Let's Chat</h1>

        <p>
          Looking to ask a question or get some help? Feel free to reach out in whatever way is most convenient to you. Here are a few ways:
        </p>
        <p>
          Email: <a href="mailto:tltoulson+cc@gmail.com">tltoulson+cc@gmail.com</a><br/>
          LinkedIn: <a href="https://www.linkedin.com/in/tltoulson/">Travis Toulson</a><br/>
          SNDev Slack: <a href="https://bit.ly/3pK5MXU">@tltoulson</a>
        </p>
      </div>
    </div>
</section>