<li>
  <a href="{{.context.Permalink}}">
    <article>
      <div>
        {{ if (eq .index 0 )}}
          <div class="post-latest-flag">Latest Post</div>
        {{ end }}
        <h2>{{.context.Title}}</h2>
        <div class="post-meta">
          <time class="dt-published" datetime="{{ .context.Date.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="datePublished">
            {{ .context.Date.Format "January 02, 2006" }}
          </time>
          {{ if .context.Params.author }}
            {{ $author := index .context.Site.Data.authors .context.Params.author }}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ $author.display }}</span></span>
          {{ end }}
        </div>
        <div class="post-summary">{{ .context.Summary }}</div>
      </div>
      <div class="post-continue">Click to Read More</div>
    </article>
  </a>
</li>
