<footer>
  <div>
    <div>
      <div class="footer-logo pad">
        <a href="/" title="Navigate to home page">
          {{- partial "vectors/codecreativelogo.svg" . -}}
        </a>
      </div>

      <p class="footer-links pad">
        <a href="/blog">Blog</a>
        &nbsp;|&nbsp;
        <a href="/guides">Guides</a>
        &nbsp;|&nbsp;
        <a href="/notebook">Notebook</a>
        &nbsp;|&nbsp;
        <a href="/about">About</a>
      </p>
    </div>

    <div>
      <p class="footer-title pad-lg pad">Socials</p>
      <div class="social-links">
        <a href="https://www.youtube.com/c/CodeCreative">
          {{- partial "vectors/socials/youtube.svg" . -}}
        </a>

        <a href="https://www.linkedin.com/in/tltoulson/">
          {{- partial "vectors/socials/linkedin.svg" . -}}
        </a>

        <a href="https://www.twitch.tv/codecreativelive">
          {{- partial "vectors/socials/twitch.svg" . -}}
        </a>
      </div>
    </div>

    <div class="copyright pad-lg">
      Copyright © 2021 CodeCreative 
    </div>
  </div>
</footer>
<script type="text/javascript" src="/assets/main.js"></script>
