{{- partial "announcement.html" . -}}
<header role="banner">
  <h1 class="logo">
      <a href="/" title="Navigate to home page">
        {{- partial "vectors/codecreativelogo.svg" . -}}
        <span class="sr-only">CodeCreative Logo, click to navigate home</span>
      </a>
    </h1>

  <div class="menuToggle">
    <button class="hamburger" type="button" onclick="toggleMenu()">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
      <span class="sr-only">Toggle Menu</span>
    </button>
  </div>

  <nav class="fullNav">
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <li title="{{ .Name }}">
          <a class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{.URL}}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </nav>
</header>