{{ if .Params.socialImg }}
<meta name="twitter:title" content="{{ .LinkTitle }}">
{{ if eq .Type "guides" }}
<meta name="twitter:image" content="{{ .CurrentSection.Permalink }}{{ .Params.socialImg }}">
{{ else if (.Params.rootSocial)}}
<meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.socialImg }}">
{{ else }}
<meta name="twitter:image" content="{{ .Permalink }}{{ .Params.socialImg }}">
{{ end }}
<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}">
{{ end }}
