{{ define "header" }}
  <header class="banner">
    <h1>{{ .Title }}</h1>
  </header>
{{ end }}
{{ define "main" }}
  <div class="index-content">
    <section class="index-section">
      <h2>Browse Content</h2>
      <div class="content text-content noPadding">
        {{.Content}}
      </div>
      <ul class="post-list">
      {{ range .Pages.ByWeight }}
        <li>
          <a href="{{.Permalink}}">
            <article>
              <div>
                <h2>{{.Title}}</h2>
                <div class="post-summary">{{ .Description }}</div>
              </div>
              <div class="post-continue">Click to Read More</div>
            </article>
          </a>
        </li>
      {{ end }}
      </ul>
      <div class="text-center">
        <a href="/years">Browse Older Articles</a>
      </div>
    <section>
    {{- partial "subscribe.html" . -}}
  </div>
{{ end }}
