{{ define "header" }}
  {{- partial "channel_header.html" (dict "context" . "channel" "guides")}}
{{ end }}
{{ define "main" }}
  <div class="content-wrap">
    <section class="content-section">
      <!--<h2>Browse Content</h2>
      <div class="content text-content noPadding">
        {{.Content}}
      </div>-->
      <ul class="card-list">
      {{ range $index, $page := .Pages.ByWeight }}
        {{- partial "content_card.html" (dict "context" . "index" 1 "hideImage" true) }}
      {{ end }}
      </ul>
      <div class="text-center">
        <a href="/years">Browse Older Articles</a>
      </div>
    <section>
  </div>
  {{- partial "chat.html" . -}}
{{ end }}
