.content header {
    text-align: center;
    padding-bottom: 2rem;
    max-width: 800px;
    margin: auto;
}

.content header .channel-title {
    font-weight: 600;
}

.content header .channel-title::before {
    content: "// "
}

.content header .channel-title::after {
    content: " //"
}

.content header .channel-title.blog {
    color: $brand-green;
}

.content header .channel-title.guide {
    color: $brand-purple-light;
}

.content header .channel-title.notebook {
    color: $brand-teal-light;
}