$brand-green: #5EC231;
$brand-green-darker: #55AF2C;
$brand-green-light: #7DCE5A;
$brand-green-lighter: #9CDA83;
$brand-green-lightest: #DBF2D6;

$brand-blue: #248EEF;
$brand-blue-light: #4FA4F2;
$brand-blue-lighter: #7ABBF6;
$brand-blue-lightest: #CFE8FC;

$brand-purple: #A759F5;
$brand-purple-light: #B87AF7;
$brand-purple-lighter: #C89BF9;
$brand-purple-lightest: #E9DDFD;

$brand-yellow: #FFD748;
$brand-yellow-light: #FEDF6D;
$brand-yellow-lighter: #FDE791;
$brand-yellow-lightest: #FBF6DA;

$brand-orange: #FF7246;
$brand-orange-light: #FE8E6B;
$brand-orange-lighter: #FDAA90;
$brand-orange-lightest: #FBE2DA;

$brand-teal: #007790;
$brand-teal-light: #3292A6;
$brand-teal-lighter: #64ADBC;
$brand-teal-lightest: #C8E3E9;

$brand-gray: #3B4D57;
$brand-gray-light: #617179;
$brand-gray-lighter: #88949A;
$brand-gray-lightest: #D4DBDD;

$text-color: $brand-gray;
$shadow-hover-color: #C3D1E3;
$shadow-color: rgba(230, 236, 243, 0.75);

$heading-font: 'TT-Hoves-Demi-Bold', Sans-Serif;
$body-font: 'Poppins-Light', "Sans-Serif";
$display-font: $heading-font;

$max-content-width: 1245px;
$flex-content-width: 85%;

$small-breakpoint: 600px;
$medium-breakpoint: 1024px;
$large-breakpoint: 1280px;