.content.text-content {
  h1,h2,h3,h4,h5,h6 {
    margin-top: 3rem;
    margin-bottom: .5em;
    line-height: 1em;
  }

  h1 { font-size: 1.5em; }
  h2 { font-size: 1.25em; }
  h3 { font-size: 1em; color: $primary-color; }

  @media only screen and (min-width : $small-breakpoint) {
    h1 { font-size: 2.66em; }
    h2 { font-size: 2em; }
    h3 { font-size: 1.25em; color: $primary-color; }
  }

  h1.post-title {
    margin: 0;
  }

  figure {
    img {
      max-width: 100%;
      padding: 0 1em;
    }

    figcaption {
      font-size: .75em;
      padding-left: 2em;
    }
  }

  ul, ol {
    margin-left: 40px;
  }

  blockquote {
    margin:1.5em auto;
    font-family:Open Sans;
    font-style:italic;
    padding:2em 1em 1.5em 3em;
    border-left:8px solid $primary-color;
    line-height:1.6;
    position: relative;
    background:$light-bg;

    @media only screen and (min-width : $small-breakpoint) {
      max-width: 80%;
    }

    &::before {
      font-family:Arial;
      content: "\201C";
      color:$primary-color;
      font-size:4em;
      position: absolute;
      left: 10px;
      top:-10px;
    }

    &::after {
      content: '';
    }

    footer {
      display:block;
      font-size: .75em;
      font-style: normal;
      font-weight: bold;
      margin-top:1em;
    }

    footer::before {
      content: "\2014";
      padding-right: .5em;
    }
  }

  hr {
    margin-top: 3rem;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .videoWrapper {
  	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;
  }
  .videoWrapper iframe {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }

  .ccPullQuote p {
    text-align: center;
    font-family: $sans-font;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.4em;
    padding: .5em .75em;
    border-top: 2px solid #69bd45;
    border-bottom: 2px solid #69bd45;
  }

  figure, figure.center {
    text-align: center;
  }

  figure.circle img {
    border-radius: 50%;
  }

  figure.instructor img {
    max-width: 300px;
  }

  @media only screen and (min-width : $small-breakpoint) {
    .ccPullQuote p {
      text-align: left;
    }

    figure.left, aside.left {
      float: left;
      margin-right: 1em;
    }

    figure.right, aside.right {
      float: right;
      margin-left: 1em;
    }

    .w-50 {
      width: 50%;
    }
  }
}
