body > footer {
    background-color: #35454E;
    color: #fff;
    padding: 3rem 0;
    text-align: center;
}

body > footer div {
    width: $flex-content-width;
    max-width: $max-content-width;
    margin: auto;
}

body > footer a {
    color: #fff;
}

body > footer .footer-links {
    font-size: .85rem;
    line-height: 140%;
    opacity: 0.6;
}

body > footer .footer-title {
    font-size: 1.25rem;
    line-height: 120%;
    font-family: $heading-font;
}

body > footer svg .logo-text {
    fill: #fff;
}

body > footer .social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body > footer .social-links a svg path {
    fill: #fff;
}

body > footer .social-links a svg path.lightburst {
    display: none;
}

body > footer .social-links a:hover svg path,
body > footer .social-links a:focus svg path {
    fill: $brand-green;
}

body > footer .social-links a:hover svg path.lightburst,
body > footer .social-links a:focus svg path.lightburst {
    display: inline;
}

body > footer .copyright {
    
    font-size: .85rem;
    line-height: 140%;
    opacity: 0.5;
}

body > footer .pad {
    padding-bottom: 2rem;
}

body > footer .pad-lg {
    padding-top: 3rem;
}

@media (min-width: $medium-breakpoint) {
    body > footer > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    body > footer > div > div {
        width: 50%;
    }

    body > footer div.copyright {
        width: 100%;
    }

    body > footer .footer-title {
        padding-top: 0;
    }

    body > footer .footer-logo svg {
        width: 250px;
    }
}