body > header {
    width: $flex-content-width;
    max-width: $max-content-width;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 1.5rem 0;
}

body > header .logo a > svg {
    height: 1.25em;
    vertical-align: middle;
}

body > header > .logo {
    z-index: 50;
}

body > header > .menuToggle {
    z-index: 50;
}