section.home-blog {
    padding: 3rem 0;
    overflow: hidden;
    background-color: #F7F9FB;
}

section.home-blog > div {
    width: $flex-content-width;
    max-width: $max-content-width;
    margin: auto;
}

section.home-blog h1 {
    font-size: 2.5rem;
    line-height: 120%;
    padding-bottom: 2rem;
}