/*nav.pagination::after {
  content: "";
  clear: both;
  display: table;
}

nav.pagination a {
  display: block;
  width: 50%;
}

nav.pagination a:hover, .pagination a:focus {
  border-bottom: 0;
}

nav.pagination .pagination-label {
  text-transform: uppercase;
  font-size: .7em;
  font-weight: 700;
  letter-spacing: .25em;
  line-height: 1.4em;
}

nav.pagination h4 {
  color: $text-color;
  font-size: 1.25em;
  font-weight: 600;
}

nav.pagination .pagination-prev {
  float: left;
  text-align: left;
}

nav.pagination .pagination-next {
  float: right;
  text-align: right;
}
*/
