@font-face {
    font-family: 'Manrope-Bold';
    src: url("/fonts/Manrope-Bold.woff");
}

@font-face {
    font-family: 'Poppins-Light';
    src: url("/fonts/Poppins-Light.ttf") format('truetype');
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    /*font-size: 14px;*/
    font-size: 18px;
    background-color: #fff;
    color: $text-color;
    font-family: $body-font;
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
}

/*@media only screen and (min-width : $small-breakpoint) {
    html, body {
        font-size: 20px;
    }
}*/

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

body.locked {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

a {
    color: $brand-green;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: $heading-font;
    letter-spacing: normal;
}

.btn-primary-ghost {
    display: inline-block;
    background-color: transparent;
    border: 1px solid $brand-green;
    color: $brand-green;
    padding: .75em 1.5rem;
    border-radius: 5.7px;
    font-weight: 600;
    font-family: $display-font;
    text-decoration: none;
}

.btn-primary-ghost:hover,
.btn-primary-ghost:focus {
    background-color: $brand-green;
    color: #fff;
}

.btn-invert-ghost {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: .75em 1.5rem;
    border-radius: 5.7px;
    font-weight: 600;
    font-family: $display-font;
    text-decoration: none;
}

.btn-invert-ghost:hover,
.btn-invert-ghost:focus {
    background-color: #fff;
}

.btn-images > a {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #fff;
    padding: .75rem 1rem;
    border-radius: 5.7px;
    font-weight: 600;
    text-decoration: none;
}

.btn-images > a:not(:first-child) {
    margin-left: 1.5rem;
}

.btn-images > a > img {
    height: 1.2rem;
    vertical-align: middle;
}

.text-center {
    text-align: center;
}