.social-icons-color-black.social-icons-style-border .sqs-use--icon {
  fill: $btn-color;
}

.social-icons-color-black.social-icons-style-border .sqs-svg-icon--wrapper {
  border-color: $btn-color;
}

.social-icons-color-black.social-icons-style-border .sqs-svg-icon--wrapper:hover {
  background-color: $btn-color;
}

.footer-content-wrap {
  text-align: center;
  max-width: $max-content-width;
  width: $flex-content-width;
  margin: auto;
  padding-top: 2em;
}
