{{ define "header" }}
{{ end }}
{{ define "main" }}
  <div class="content text-content content-wrap">
    <article>
      <header class="post-header">
        <h1>{{ .Title }}</h1>
      </header>
      <div class="post-content e-content">
        <h2>Oops, My Bad.</h2>
        <p>Not only was I not able to find the page you were looking for but I also didn't give you a fun filled 404 page.  Disappointing, I know.  More improvements are coming but for now have you:</p>
        <div class="text-center">
          <a href="/years">Checked the Archive?</a>
        </div>
      </div>
    </article>
  </div>
  {{- partial "chat.html" . -}}
{{ end }}
