{{ define "meta" }}
  {{- partial "seo_jsonldBlog.html" . -}}
{{ end }}
{{ define "header" }}
  <header class="banner">
    <h1>{{ .CurrentSection.Title }}</h1>
  </header>
{{ end }}
{{ define "main" }}
  <div class="content text-content guide-content">
    <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
      <section class="guide-nav">
        <nav>
          <h1>{{ .CurrentSection.Title }}</h1>
          <ul>
            <li>
              <a href="{{.CurrentSection.Permalink}}">
                Guide Index
              </a>
            </li>
            {{ $currentPage := . }}
            {{ range .CurrentSection.Pages.ByWeight }}
              {{ if eq $currentPage.Permalink .Permalink }}
                <li>
                  {{.Title}}
                </li>
              {{ else }}
                <li>
                  <a href="{{.Permalink}}">
                    {{.Title}}
                  </a>
                </li>
              {{ end }}
            {{ end }}
          </ul>
        </nav>
      </section>

      <section class="guide-article">
        <header class="post-header">
          <h1 class="post-title p-name" itemprop="name headline">{{ .Title }}</h1>
          <p class="post-meta">
              <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="datePublished">
              {{ .Date.Format "January 02, 2006" }}
              </time>
            {{ if .Params.author }}
              {{ $author := index .Site.Data.authors .Params.author }}
              • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ $author.display }}</span></span>
            {{ end }}
          </p>
        </header>

        <div class="post-content e-content" itemprop="articleBody">
          {{ .Content }}
        </div>

        <a class="u-url" href="{{ .URL }}" hidden></a>

        <nav class="pagination">
          {{if .NextInSection}}
            <a href="{{.NextInSection.Permalink}}" class="pagination-prev">
              <h4>Previous</h4>
              <div class="pagination-label">{{.NextInSection.Title}}</div>
            </a>
          {{end}}

          {{if .PrevInSection}}
            <a href="{{.PrevInSection.Permalink}}" class="pagination-next">
              <h4>Next</h4>
              <div class="pagination-label">{{.PrevInSection.Title}}</div>
            </a>
          {{end}}
        </nav>
      </section>
    </article>
  </div>
  {{- partial "chat.html" . -}}
{{ end }}
