@import
  "partials/site",
  "partials/header",
  "partials/navigation",
  "partials/hamburger",
  "partials/item-list",
  "partials/content",
  "partials/pagination",
  "partials/footer",
  "partials/syntaxhighlight",
  "partials/subscribe",
  "partials/guides"
